<% provide(:title, '完全無料でマイクラをする方法！[PC,合法,YouBlog]') %>
<div class="title">
    <h2>完全無料でマイクラをする方法！</h2>
    <h2>[PC,合法,YouBlog]</h1>
</div>    
<div class="image">
    <%= image_tag "1-1.jpg",class:"image"%>
</div>
<div class="latter">
    <p>どうもこんにちは！Youです！今回は無料でマイクラをやる方法とインストール方法を紹介します！今回使うのは、中国版マイクラ「我的世界」です。早速インストール方法を紹介していきます！</h9>
</div>
<div class="title">
    <h2>163.comのアカウントを作る</h2>
</div>
<div class="latter">
    <p>中国版マイクラをプレイするためには163.comのアカウントが必要です。アカウントは以下のサイトから作成できます</p>
    <p><%=link_to("163.com","https://zc.reg.163.com/regInitialized?pkid=VEyRTVF&pkht=mc.163.com&toUrlFromHerf=https%3A%2F%2Fservice.mkey.163.com%2Fmpay%2Fregister2%2Fcallback%3Fgv%3D1.6.5.45158%26app_mode%3D2%26game_id%3Daecfrxodyqaaaajp-g-x19%26cv%3Dc2.5.0%26app_channel%3Dnetease%26device_id%3Daiav6zggb3g2a5eh-d&pd=x19_client#/")%></p>
</div>
<div class="title">
    <h2>中国版マイクラのアカウントを作成</h2>
</div>
<div class="image">
    <%= image_tag "1-2.png",class:"image"%>
</div>
<div class="latter">
    <p>まず公式サイトに移動しマイクラをインストールします。</p>
</div>
<div class="image">
    <%= image_tag "1-3.png",class:"image"%>
</div>
<div class="latter">
    <p>ダウンロードが完了したら開きます。すると上のような画面になります。左下の同意というところをクリックしたら、快速～～というのをクリックします。</p>
</div>
<div class="image">
    <%= image_tag "1-4.png",class:"image"%>
</div>
<div class="latter">
    <p>そのあとにこのような画面が出てくるので更新をクリックします。</p>
</div>
<div class="image">
    <%= image_tag "1-5.png",class:"image"%>
</div>
<div class="latter">
    <p>そのあとに上のような画面が出てくるので、メールアドレスとパスワードをクリックし、登録を押します。</p>
</div>
<div class="image">
    <%= image_tag "1-6.png",class:"image"%>
</div>
<div class="latter">
    <p>次に左の緑のやつを押します</p>
</div>
<div class="image">
    <%= image_tag "1-7.png",class:"image"%>
</div>
<div class="latter">
    <p>すると変な動画がでてくるので、2,3分待ちます。</p>
</div>
<div class="image">
    <%= image_tag "1-8.png",class:"image"%>
</div>
<div class="latter">
    <p>無事、インストールできました！</p>
</div>

<div class="latter">
    <p>これでインストールは終わりです。設定の仕方や世界の作り方なども今後、紹介できればと思います。最後までありがとうございました。</p>
</div>
