<!DOCTYPE html>
<html>
  <head>
    <title>YouBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <meta name="google-site-verification" content="rtNkSu5z4z8VnAxAmsW8G5i5Rs9zWC2AVBmA5HWR2IA" />

  </head>

  <body>
    <div class="content">
      <div class="content-left">
      </div>
      <div class="content-middle">
        <div class="header">
          <h1><%=link_to("YouBlog","/")%></h1>
        </div>
        <%= yield %>
      </div>
      <div class="content-right">
      </div>
    </div>  
  </body>
</html>
